body {
  background-color: white;
}
h1 {
  color: blue;
  font-size: 100%;
}
p {
  color: green;
  border: 10px solid powderblue;
  padding: 30px;
  margin: 5px;
}

#p01 {
	color: blue;
}

p.error {
	color: red;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}

th{
	text-align: left;
}

table{
	border-spacing: 5px;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
}

.cities {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
} 