body{

	background: rgb(176, 184, 180);
	color: rgb(25, 75 ,80);
	font-family: Helvetica Neue, Helvetica ;
	margin:0;
	padding:0;

		}

header{

	background:  rgb(102, 102, 153);
	background-image: url("kwiatek4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height:300px;
	padding:10px ; 
	text-align: left;

		

		}

header .logo a
{


background-image: url("logo.png");
background-size: 80px; 
display:inline-block;
background-repeat: no-repeat;
height:60px;
text-indent: -999999999px;
width: 100px;
position:relative;
top:-17px;



}
section.Feature-Box{

	display: flex;
}

section.Feature-Box div{

	padding: 5px;
	margin: 5px;
}
section.Feature-Box.Sales{
    
	flex-direction: row;
	

}
section.FlowerImages{
    
    display: flex;
	flex-direction: row;
	margin:0;



}

section.FlowerImages figure{
    
    margin:5px;


}
section.Feature-Box.Arrivals{
   
	flex-direction: row;


}
section.Feature-Box.Contact {
	flex-direction: column;
	width: 70px;
	
	
		}
section.Feature-Box.Sales div{
	background: rgb(164, 163, 194);
	color: blue;
	
	margin: 10px auto;
	height: 15px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	
		}

section.Feature-Box.Contact div{
	background: rgb(164, 163, 194);
	color: black;
	text-align: center;
	vertical-align: middle;

	
	
		}


section.Feature-Box.Arrivals div{
	background: rgb(164, 163, 194);
	color: red;

		}


footer{
	background: rgb(92, 92, 138);
	padding :5px 10px;
		}

footer.Location-Footer{
	background: rgb(47, 79, 79);
	color: rgb(220,220,220);
	
		}	

ul{
	margin:0;
	padding:0;
	list-style-type: none;


		}
li{

	display:inline-block;
	margin-right:20px;
	background:  rgb(161, 57, 65);
	border-radius: 4px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 20px;





		}

li:first-child
{

	margin-left: 0px;

		}
a{

	text-decoration: none;
		}
a:hover {


	text-decoration: underline;
		}

li:hover{

	background: white;

		}

